.eduContainer {
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 60%;
  }
  
  .eduheading {
    display: inline-block;
    width: fit-content;
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    color: var(--blue);
    letter-spacing: 0.2rem;
    position: relative;
  }
  .eduheading span {
    color: var(--white);
  }
  
  
  .timeLine {
    position: relative;
    padding-left: 1rem;
    color: var(--white);
    border-left: 1px solid var(--grey);
  }
  
  
  
  .ug {
    align-self: flex-end;
    text-align: right;
    position: relative;
    padding-right: 1rem;
    color: var(--white);
    border-right: 1px solid var(--grey);
  }
  
  
  
  .timeLine P,
  .ug p {
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
  }
  
  .university {
    font-family: 'Roboto Slab', serif;
  }
  .resumes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding:1rem 0;
  }
  .toAboutLink{
    margin: 0;
    text-decoration: none;
    color: var(--white);
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .toAboutLink .arrowEast{
    color: var(--blue);
    animation: move 0.5s ease-in-out alternate-reverse infinite;
  }
  
  .toAboutLink:hover{
    text-decoration: underline;
  }
  
  
  @media screen and (max-width: 926px) {
    .resumes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .toAboutLink{
        font-size: 0.7rem;
      }
  }
  
  
  @media screen and (max-width: 730px) {
    .eduContainer {
      width: 85%;
      margin-bottom: 12%;
    }
    .toAboutLink{
        font-size: 0.6rem;
      }
  }
  
  @media screen and (max-width: 398px) {
    .eduheading {
      font-size: 1.4rem;
    }
     
    .eduheading::before {
      width: 6.5rem;
      bottom: 0.45rem;
      right: -7rem;
    }
    .university {
      font-size: 0.94rem;
    }
    .timeLine P,
    .ug p {
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 299px) {
    .eduheading {
      font-size: 1.2rem;
    }
    .eduheading::before {
      width: 5.6rem;
      bottom: 0.38rem;
      right: -5.8rem;
    }
    .university {
      font-size: 0.86rem;
    }
    .timeLine P,
    .ug p {
      font-size: 0.7rem;
    }
  }

