.moving-word-container {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 90px; /* Set it to cover the entire viewport */
    overflow: hidden;
  }
  
  .moving-word {
    font-size: 1rem;
    font-weight: 600;
    color:var(--blue);
    position: absolute;
    white-space: nowrap;
    z-index: -1;
    opacity: 0.18;
    animation: moveWord 10s linear infinite; /* Adjust animation duration as needed */
  }
  
  @keyframes moveWord {
    0% {
      left: -20%;
    }
    100% {
      left: 100%; 
    }
  }
  