.moving-word-container {
    position: fixed;
    top: 60%;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: -1;
  }
  
  .moving-word {
    font-size: 120px;
    font-weight: 600;
    color:var(--black);
    position: absolute;
    white-space: nowrap;
    height: fit-content;
    z-index: -300;
    opacity: 0.45;
    animation: moveWord 70s linear infinite; 
  }
  @keyframes moveWord {
    0% {
      left: -10%;
    }
    100% {
      left: 100%; 
    }
  }
  