.detailsContainer {
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .imageContainer {
    height: 16rem;
    width: 15rem;
    position: relative;
    border: 1px solid var(--shadow);
    border-radius: 0.5rem;
  }
  
  .imageContainer img {
    height: 16rem;
    width: 15rem;
    background-color:var(--blue);
    border-radius: 0 50% 50% 0;
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
  }
 
  
  
  .imageContainer:hover::before {
    opacity: 0;
    transform: translateX(6px) translateY(-6px);
  }
  
  .imageContainer:hover img {
    transform: translateX(6px) translateY(-6px);
  }
  
  .aboutContainer {
    width: 50%;
  }
  .aboutContainer .aboutme {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: "Roboto", sans-serif;
    color: var(--white);
  }
  .aboutContainer .aboutme span {
    color: var(--blue);
    font-weight: bold;
  }
  
  .aboutContainer ul {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    list-style: "\25B8";
  }
  
  .aboutContainer ul li {
    color:var(--blue);
    padding-bottom: 0.5rem;
  }
  .aboutContainer ul li span {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: var(--white);
    padding-left: 0.5rem;
  }
  
  @media screen and (max-width: 730px) {
    .imageContainer img {
      height: 16rem;
      width: 17rem;
      background-color:var(--blue);
      border-radius: 0 40% 0 0;
      position: absolute;
      left: 0.7rem;
      bottom: 0.5rem;
    }
    .detailsContainer {
      flex-direction: column;
      margin-bottom: 4.8%;
      gap: 2rem;
    }
    .aboutContainer {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 510px) {
    .imageContainer img,
    .imageContainer::before,
    .imageContainer {
      height: 11rem;
      width: 10rem;
      
    }
  }
  
  @media screen and (max-width: 379px) {
      .aboutContainer .aboutme, .aboutContainer .aboutme span {
          font-size: 0.8rem;
          line-height: 1.2rem;
        }
        .aboutContainer ul {
          flex-direction: column;
          gap: 0.2rem;
        }
        .aboutContainer ul li {
          padding: 1px;
        }
        .aboutContainer ul li span {
          font-size: 0.8rem;
        }
  }