.mobFoot {
  display: none;
}
@media screen and (max-width: 840px) {
  .mobFoot {
    display: flex;
    justify-content: space-around;
  }
  .desktopFoot {
    display: none;
  }
}

.main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("./pics/3 (2).png");
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.04;
  z-index: -1;
}

/* For phone view where width is 100vh and height is 100vw */
@media screen and (max-width: 767px) {
  .main::after {
     background-image: none;
  }
  .homeContainer::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./pics/3\ \(2\).png");
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.04;
  z-index: -1;
  }
}

